<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Blank</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CRUD Management System</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CRUD_Operation.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body class="modern-layout">
    <!-- Top Header Bar -->
    <div class="top-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 text-center py-2">
                    <small class="text-muted">
                        <i class="bi bi-shield-check me-1"></i>
                        Secure Enterprise Management System | Welcome to CRUD Operations
                    </small>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Navigation -->
    <header>
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Search -->
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

                <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                <li class="nav-item dropdown no-arrow d-sm-none">
                    <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search fa-fw"></i>
                    </a>
                    <!-- Dropdown - Messages -->
                    <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                        <form class="form-inline mr-auto w-100 navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>

                <!-- Nav Item - Alerts -->
                <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bell fa-fw"></i>
                        <!-- Counter - Alerts -->
                        <span class="badge badge-danger badge-counter">3+</span>
                    </a>
                    <!-- Dropdown - Alerts -->
                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                        <h6 class="dropdown-header">
                            Alerts Center
                        </h6>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-primary">
                                    <i class="fas fa-file-alt text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">December 12, 2019</div>
                                <span class="font-weight-bold">A new monthly report is ready to download!</span>
                            </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-success">
                                    <i class="fas fa-donate text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">December 7, 2019</div>
                                $290.29 has been deposited into your account!
                            </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-warning">
                                    <i class="fas fa-exclamation-triangle text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">December 2, 2019</div>
                                Spending Alert: We've noticed unusually high spending for your account.
                            </div>
                        </a>
                        <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                    </div>
                </li>

                <!-- Nav Item - Messages -->
                <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-envelope fa-fw"></i>
                        <!-- Counter - Messages -->
                        <span class="badge badge-danger badge-counter">7</span>
                    </a>
                    <!-- Dropdown - Messages -->
                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                        <h6 class="dropdown-header">
                            Message Center
                        </h6>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="dropdown-list-image mr-3">
                                <img class="rounded-circle" src="img/undraw_profile_1.svg" alt="...">
                                <div class="status-indicator bg-success"></div>
                            </div>
                            <div class="font-weight-bold">
                                <div class="text-truncate">
                                    Hi there! I am wondering if you can help me with a
                                    problem I've been having.
                                </div>
                                <div class="small text-gray-500">Emily Fowler · 58m</div>
                            </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="dropdown-list-image mr-3">
                                <img class="rounded-circle" src="img/undraw_profile_2.svg" alt="...">
                                <div class="status-indicator"></div>
                            </div>
                            <div>
                                <div class="text-truncate">
                                    I have the photos that you ordered last month, how
                                    would you like them sent to you?
                                </div>
                                <div class="small text-gray-500">Jae Chun · 1d</div>
                            </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="dropdown-list-image mr-3">
                                <img class="rounded-circle" src="img/undraw_profile_3.svg" alt="...">
                                <div class="status-indicator bg-warning"></div>
                            </div>
                            <div>
                                <div class="text-truncate">
                                    Last month's report looks great, I am very happy with
                                    the progress so far, keep up the good work!
                                </div>
                                <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                            </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="dropdown-list-image mr-3">
                                <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="...">
                                <div class="status-indicator bg-success"></div>
                            </div>
                            <div>
                                <div class="text-truncate">
                                    Am I a good boy? The reason I ask is because someone
                                    told me that people say this to all dogs, even if they aren't good...
                                </div>
                                <div class="small text-gray-500">Chicken the Dog · 2w</div>
                            </div>
                        </a>
                        <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                    </div>
                </li>

                <div class="topbar-divider d-none d-sm-block"></div>

                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                        <img class="img-profile rounded-circle" src="img/undraw_profile.svg">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Profile
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                            Settings
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                            Activity Log
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>

            </ul>

        </nav>
    </header>

    <!-- Main Content Area -->
    <main class="main-content">
        <div class="container-fluid px-4">
            <div class="content-wrapper">
                @RenderBody()
            </div>
        </div>
    </main>

    <!-- Enhanced Modern Footer -->
    <footer class="enhanced-footer">
        <div class="footer-wave">
            <svg viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
                <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
                <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
            </svg>
        </div>

        <div class="container-fluid px-4">
            <div class="footer-content">
                <!-- Main Footer Content -->
                <div class="row mb-5">
                    <!-- Company Info -->
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="footer-brand-section">
                            <div class="footer-logo">
                                <i class="bi bi-database-gear"></i>
                                <span class="brand-text">CRUD Management</span>
                            </div>
                            <p class="footer-description">
                                A comprehensive enterprise management solution designed to streamline your business operations with modern technology and user-friendly interfaces.
                            </p>
                            <div class="footer-features">
                                <div class="feature-item">
                                    <i class="bi bi-check-circle-fill"></i>
                                    <span>Secure & Reliable</span>
                                </div>
                                <div class="feature-item">
                                    <i class="bi bi-check-circle-fill"></i>
                                    <span>24/7 Support</span>
                                </div>
                                <div class="feature-item">
                                    <i class="bi bi-check-circle-fill"></i>
                                    <span>Cloud-Based</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Quick Links -->
                    <div class="col-lg-2 col-md-6 mb-4">
                        <h6 class="footer-title">Quick Links</h6>
                        <ul class="footer-links">
                            <li><a asp-controller="Home" asp-action="Index"><i class="bi bi-house"></i>Dashboard</a></li>
                            <li><a asp-controller="Employee" asp-action="Index"><i class="bi bi-people"></i>Employees</a></li>
                            <li><a asp-controller="Department" asp-action="Index"><i class="bi bi-building"></i>Departments</a></li>
                            <li><a asp-controller="Project" asp-action="Index"><i class="bi bi-kanban"></i>Projects</a></li>
                            <li><a asp-controller="Training" asp-action="Index"><i class="bi bi-mortarboard"></i>Training</a></li>
                        </ul>
                    </div>

                    <!-- Management -->
                    <div class="col-lg-2 col-md-6 mb-4">
                        <h6 class="footer-title">Management</h6>
                        <ul class="footer-links">
                            <li><a asp-controller="Employee" asp-action="Create"><i class="bi bi-person-plus"></i>Add Employee</a></li>
                            <li><a asp-controller="Department" asp-action="Create"><i class="bi bi-building-add"></i>Add Department</a></li>
                            <li><a asp-controller="Manager" asp-action="Index"><i class="bi bi-person-badge"></i>Managers</a></li>
                            <li><a href="#"><i class="bi bi-graph-up"></i>Analytics</a></li>
                            <li><a href="#"><i class="bi bi-gear"></i>Settings</a></li>
                        </ul>
                    </div>

                    <!-- Support -->
                    <div class="col-lg-2 col-md-6 mb-4">
                        <h6 class="footer-title">Support</h6>
                        <ul class="footer-links">
                            <li><a href="#"><i class="bi bi-question-circle"></i>Help Center</a></li>
                            <li><a href="#"><i class="bi bi-chat-dots"></i>Live Chat</a></li>
                            <li><a href="#"><i class="bi bi-telephone"></i>Contact Us</a></li>
                            <li><a asp-controller="Home" asp-action="Privacy"><i class="bi bi-shield-check"></i>Privacy Policy</a></li>
                            <li><a href="#"><i class="bi bi-file-text"></i>Terms of Service</a></li>
                        </ul>
                    </div>

                    <!-- Connect With Us -->
                    <div class="col-lg-2 col-md-6 mb-4">
                        <h6 class="footer-title">Connect</h6>
                        <div class="social-links">
                            <a href="#" class="social-link" title="Follow us on Twitter">
                                <i class="bi bi-twitter"></i>
                            </a>
                            <a href="#" class="social-link" title="Like us on Facebook">
                                <i class="bi bi-facebook"></i>
                            </a>
                            <a href="#" class="social-link" title="Connect on LinkedIn">
                                <i class="bi bi-linkedin"></i>
                            </a>
                            <a href="#" class="social-link" title="Follow on Instagram">
                                <i class="bi bi-instagram"></i>
                            </a>
                            <a href="#" class="social-link" title="Subscribe to YouTube">
                                <i class="bi bi-youtube"></i>
                            </a>
                        </div>
                        <div class="newsletter-signup mt-3">
                            <p class="newsletter-text">Stay updated with our latest features</p>
                            <div class="input-group newsletter-input">
                                <input type="email" class="form-control" placeholder="Your email">
                                <button class="btn btn-primary" type="button">
                                    <i class="bi bi-envelope"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Footer Bottom -->
                <div class="footer-bottom">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="footer-bottom-left">
                                <p class="copyright">
                                    <i class="bi bi-c-circle me-1"></i>
                                    2025 CRUD Management System. All rights reserved.
                                </p>
                                <div class="tech-stack">
                                    <span class="tech-badge">
                                        <i class="bi bi-microsoft"></i>
                                        ASP.NET Core 9
                                    </span>
                                    <span class="tech-badge">
                                        <i class="bi bi-bootstrap"></i>
                                        Bootstrap 5
                                    </span>
                                    <span class="tech-badge">
                                        <i class="bi bi-database"></i>
                                        Entity Framework
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 text-md-end">
                            <div class="footer-bottom-right">
                                <div class="system-status">
                                    <span class="status-indicator online"></span>
                                    <span class="status-text">All Systems Operational</span>
                                </div>
                                <div class="last-updated">
                                    <small>Last updated: <span id="lastUpdated"></span></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Back to Top Button -->
                <button class="back-to-top" onclick="scrollToTop()" title="Back to Top">
                    <i class="bi bi-arrow-up"></i>
                </button>
            </div>
        </div>
    </footer>


    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Enhanced Custom Styles -->
    <style>
        /* Import Modern Font */
        body {
            font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
            background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
            min-height: 100vh;
            margin: 0;
        }

        /* Top Header */
        .top-header {
            background: linear-gradient(90deg, #667eea 0%, #764ba2 100%);
            color: white;
            font-size: 0.85rem;
        }

        /* Custom Navbar */
        .custom-navbar {
            background: rgba(255, 255, 255, 0.95);
            backdrop-filter: blur(10px);
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
            padding: 1rem 0;
        }

        /* Brand Logo */
        .brand-logo {
            text-decoration: none;
            color: inherit;
        }

        .logo-container {
            display: flex;
            align-items: center;
            gap: 0.75rem;
        }

        .logo-icon {
            width: 45px;
            height: 45px;
            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 1.25rem;
        }

        .logo-text {
            display: flex;
            flex-direction: column;
            line-height: 1.2;
        }

        .logo-main {
            font-size: 1.5rem;
            font-weight: 700;
            color: #2d3748;
        }

        .logo-sub {
            font-size: 0.75rem;
            font-weight: 500;
            color: #718096;
            margin-top: -2px;
        }

        /* Navigation Items */
        .nav-item-custom {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: 0.75rem 1rem;
            border-radius: 8px;
            transition: all 0.3s ease;
            color: #4a5568;
            font-weight: 500;
            text-decoration: none;
        }

            .nav-item-custom:hover {
                background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
                color: white;
                transform: translateY(-2px);
            }

        /* Custom Mobile Toggle */
        .custom-toggler {
            border: none;
            padding: 0.5rem;
            width: 30px;
            height: 30px;
            position: relative;
            background: transparent;
        }

            .custom-toggler span {
                display: block;
                width: 25px;
                height: 3px;
                background: #4a5568;
                margin: 4px 0;
                transition: 0.3s;
                border-radius: 2px;
            }

        /* Enhanced Dropdown */
        .custom-dropdown {
            border: none;
            box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
            border-radius: 12px;
            padding: 0.5rem 0;
            min-width: 280px;
            margin-top: 0.5rem;
        }

            .custom-dropdown .dropdown-item {
                display: flex;
                align-items: center;
                gap: 1rem;
                padding: 1rem 1.5rem;
                border: none;
                transition: all 0.3s ease;
            }

        .dropdown-icon {
            width: 40px;
            height: 40px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 1.1rem;
        }

        .dropdown-content {
            display: flex;
            flex-direction: column;
        }

            .dropdown-content strong {
                color: #2d3748;
                font-size: 0.95rem;
            }

            .dropdown-content small {
                color: #718096;
                font-size: 0.8rem;
                margin-top: 2px;
            }

        .custom-dropdown .dropdown-item:hover {
            background: #f7fafc;
            transform: translateX(5px);
        }

        /* Main Content */
        .main-content {
            flex: 1;
            padding: 2rem 0;
            min-height: calc(100vh - 200px);
        }

        .content-wrapper {
            background: white;
            border-radius: 15px;
            box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
            padding: 2rem;
            margin: 1rem 0;
        }

        /* Modern Footer */
        .modern-footer {
            background: linear-gradient(135deg, #2d3748 0%, #4a5568 100%);
            color: white;
            padding: 3rem 0 2rem;
            margin-top: auto;
        }

        .footer-brand {
            font-size: 1.25rem;
            font-weight: 600;
            margin-bottom: 0.5rem;
        }

        .footer-desc {
            color: #a0aec0;
            font-size: 0.9rem;
            margin-bottom: 0;
        }

        .footer-links a {
            color: #e2e8f0;
            text-decoration: none;
            transition: color 0.3s ease;
        }

            .footer-links a:hover {
                color: white;
            }

        .separator {
            margin: 0 0.75rem;
            color: #718096;
        }

        /* Responsive Design */

        /* Enhanced Modern Footer */
        .enhanced-footer {
            background: linear-gradient(135deg, #1a202c 0%, #2d3748 50%, #4a5568 100%);
            color: #e2e8f0;
            position: relative;
            margin-top: auto;
            overflow: hidden;
        }

        /* Wave Animation */
        .footer-wave {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
        }

            .footer-wave svg {
                position: relative;
                display: block;
                width: calc(100% + 1.3px);
                height: 60px;
                transform: rotateY(180deg);
            }

            .footer-wave .shape-fill {
                fill: #f5f7fa;
            }

        /* Footer Content */
        .footer-content {
            position: relative;
            z-index: 2;
            padding-top: 80px;
            padding-bottom: 2rem;
        }

        /* Footer Brand Section */
        .footer-brand-section {
            padding-right: 2rem;
        }

        .footer-logo {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-bottom: 1.5rem;
        }

            .footer-logo i {
                font-size: 2.5rem;
                background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }

        .brand-text {
            font-size: 1.75rem;
            font-weight: 700;
            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }

        .footer-description {
            font-size: 0.95rem;
            line-height: 1.6;
            color: #cbd5e0;
            margin-bottom: 1.5rem;
        }

        /* Footer Features */
        .footer-features {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
        }

        .feature-item {
            display: flex;
            align-items: center;
            gap: 0.75rem;
            font-size: 0.9rem;
        }

            .feature-item i {
                color: #48bb78;
                font-size: 1rem;
            }

        /* Footer Titles */
        .footer-title {
            font-size: 1.1rem;
            font-weight: 600;
            color: #f7fafc;
            margin-bottom: 1.5rem;
            position: relative;
            padding-bottom: 0.5rem;
        }

            .footer-title::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 30px;
                height: 2px;
                background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
                border-radius: 1px;
            }

        /* Footer Links */
        .footer-links {
            list-style: none;
            padding: 0;
            margin: 0;
        }

            .footer-links li {
                margin-bottom: 0.75rem;
            }

            .footer-links a {
                color: #cbd5e0;
                text-decoration: none;
                font-size: 0.9rem;
                display: flex;
                align-items: center;
                gap: 0.5rem;
                transition: all 0.3s ease;
                padding: 0.25rem 0;
            }

                .footer-links a:hover {
                    color: #667eea;
                    transform: translateX(5px);
                }

                .footer-links a i {
                    font-size: 0.8rem;
                    width: 16px;
                }

        /* Social Links */
        .social-links {
            display: flex;
            gap: 1rem;
            margin-bottom: 1.5rem;
        }

        .social-link {
            width: 45px;
            height: 45px;
            border-radius: 12px;
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(10px);
            display: flex;
            align-items: center;
            justify-content: center;
            color: #e2e8f0;
            text-decoration: none;
            transition: all 0.3s ease;
            border: 1px solid rgba(255, 255, 255, 0.1);
        }

            .social-link:hover {
                background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
                color: white;
                transform: translateY(-3px);
                box-shadow: 0 8px 25px rgba(102, 126, 234, 0.4);
            }

        /* Newsletter */
        .newsletter-text {
            font-size: 0.85rem;
            color: #a0aec0;
            margin-bottom: 0.75rem;
        }

        .newsletter-input .form-control {
            background: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.2);
            color: #e2e8f0;
            font-size: 0.85rem;
            border-radius: 8px 0 0 8px;
        }

            .newsletter-input .form-control::placeholder {
                color: #a0aec0;
            }

            .newsletter-input .form-control:focus {
                background: rgba(255, 255, 255, 0.15);
                border-color: #667eea;
                color: #f7fafc;
                box-shadow: none;
            }

        .newsletter-input .btn {
            border-radius: 0 8px 8px 0;
            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
            border: none;
        }

        /* Footer Bottom */
        .footer-bottom {
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            padding-top: 2rem;
            margin-top: 2rem;
        }

        .copyright {
            font-size: 0.9rem;
            color: #a0aec0;
            margin-bottom: 0.75rem;
        }

        .tech-stack {
            display: flex;
            gap: 0.75rem;
            flex-wrap: wrap;
        }

        .tech-badge {
            background: rgba(255, 255, 255, 0.1);
            color: #cbd5e0;
            padding: 0.25rem 0.75rem;
            border-radius: 20px;
            font-size: 0.75rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            border: 1px solid rgba(255, 255, 255, 0.1);
        }

        /* System Status */
        .system-status {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            margin-bottom: 0.5rem;
            justify-content: flex-end;
        }

        .status-indicator {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #48bb78;
            animation: pulse 2s infinite;
        }

        @@keyframes pulse {
            0%

        {
            box-shadow: 0 0 0 0 rgba(72, 187, 120, 0.7);
        }

        70% {
            box-shadow: 0 0 0 10px rgba(72, 187, 120, 0);
        }

        100% {
            box-shadow: 0 0 0 0 rgba(72, 187, 120, 0);
        }

        }

        .status-text {
            font-size: 0.85rem;
            color: #48bb78;
            font-weight: 500;
        }

        .last-updated {
            text-align: right;
        }

            .last-updated small {
                font-size: 0.75rem;
                color: #718096;
            }

        /* Back to Top Button */
        .back-to-top {
            position: fixed;
            bottom: 30px;
            right: 30px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
            color: white;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
            box-shadow: 0 4px 20px rgba(102, 126, 234, 0.4);
            transition: all 0.3s ease;
            z-index: 1000;
            opacity: 0;
            visibility: hidden;
        }

            .back-to-top.visible {
                opacity: 1;
                visibility: visible;
            }

            .back-to-top:hover {
                transform: translateY(-3px);
                box-shadow: 0 8px 30px rgba(102, 126, 234, 0.6);
            }

        /* Responsive Design */
        @@media (max-width: 768px) {
            .footer-brand-section

        {
            padding-right: 0;
            margin-bottom: 2rem;
        }

        .social-links {
            justify-content: center;
            margin-bottom: 2rem;
        }

        .tech-stack {
            justify-content: center;
        }

        .system-status {
            justify-content: center;
        }

        .last-updated {
            text-align: center;
        }

        .footer-bottom .col-md-6 {
            text-align: center !important;
        }

        .back-to-top {
            bottom: 20px;
            right: 20px;
            width: 45px;
            height: 45px;
        }

        }

        @@media (max-width: 576px) {
            .footer-content

        {
            padding-top: 60px;
        }

        .footer-wave svg {
            height: 40px;
        }

        .social-links {
            gap: 0.75rem;
        }

        .social-link {
            width: 40px;
            height: 40px;
        }

        }


      

        

      

        

        /* Scrollbar Styling */
        ::-webkit-scrollbar {
            width: 8px;
        }

        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        ::-webkit-scrollbar-thumb {
            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
            border-radius: 4px;
        }

            ::-webkit-scrollbar-thumb:hover {
                background: linear-gradient(135deg, #5a67d8 0%, #6b46c1 100%);
            }
    </style>


    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
